In [18]:
import csv
import math
import pandas as pd
from datetime import datetime

In [19]:
humidity = pd.read_csv('humidity.csv')
humidity = humidity[['datetime','Chicago']]
humidity = humidity.interpolate(method="linear")
humidity.to_csv("humidity.csv", index = False)

In [56]:
taxi_trip = pd.read_csv("2014ss.csv", sep = ",")
temperature = pd.read_csv("temperature.csv", sep = ",")
temperature.rename(columns={'Chicago':'temperature'}, inplace=True)
temperature = temperature.interpolate(method="linear")
wind_speed = pd.read_csv("wind_speed.csv", sep = ",")
wind_speed.rename(columns={'Chicago':'wind_speed'}, inplace=True)
humidity = pd.read_csv('humidity.csv')
humidity.rename(columns={'Chicago':'humidity'}, inplace=True)

temperature["datetime"] = pd.to_datetime(temperature["datetime"], \
                                                 format='%m/%d/%y %H:%M').dt.floor('H');
temperature["datetime"] = temperature["datetime"].dt.strftime('%Y/%m/%d %H')
wind_speed["datetime"] = pd.to_datetime(wind_speed["datetime"], \
                                                 format='%m/%d/%y %H:%M').dt.floor('H');
wind_speed["datetime"] = wind_speed["datetime"].dt.strftime('%Y/%m/%d %H')
humidity["datetime"] = pd.to_datetime(humidity["datetime"], \
                                                 format='%Y-%m-%d %H:%M:%S').dt.floor('H');
humidity["datetime"] = humidity["datetime"].dt.strftime('%Y/%m/%d %H')

# Join with taxi dataset by timestamp
taxi_with_weather = pd.merge(taxi_trip, temperature, how='left', left_on='Trip Start Timestamp', 
                                    right_on='datetime')
taxi_with_weather = pd.merge(taxi_with_weather, wind_speed, how='left', left_on='Trip Start Timestamp', 
                                    right_on='datetime')
taxi_with_weather = pd.merge(taxi_with_weather, humidity, how='left', left_on='Trip Start Timestamp', 
                                    right_on='datetime')

taxi_with_weather = taxi_with_weather.drop(columns=['datetime_x', 'datetime_y'])

# Check if contains NaN
taxi_with_weather.isnull().values.any()

#taxi_with_weather.to_csv("14taxi_with_weather.csv", index = False)

In [57]:
taxi_with_weather["dayofyear_sin"] = taxi_with_weather["dayofyear"].map(lambda x: round(math.sin(float(x)/365*2*math.pi),3));
taxi_with_weather["dayofyear_cos"] = taxi_with_weather["dayofyear"].map(lambda x: round(math.cos(float(x)/365*2*math.pi),3));

taxi_with_weather["hour_sin"] = taxi_with_weather["hour"].map(lambda x: round(math.sin(float(x)/24*2*math.pi),2));
taxi_with_weather["hour_cos"] = taxi_with_weather["hour"].map(lambda x: round(math.cos(float(x)/24*2*math.pi),2));

In [73]:
# standardization
taxi_with_weather = pd.read_csv('download/13taxi_with_weather.csv')
print('temp_mean',round(taxi_with_weather['temperature'].mean(),5))
print('wind_speed_mean',round(taxi_with_weather['wind_speed'].mean(),5))
print('humidity_mean',round(taxi_with_weather['humidity'].mean(),5))
print('temp_std',round(taxi_with_weather['temperature'].std(),5))
print('wind_speed_std',round(taxi_with_weather['wind_speed'].std(),5))
print('humidity_std',round(taxi_with_weather['humidity'].std(),5))
taxi_with_weather['temperature'] = round((taxi_with_weather['temperature']-taxi_with_weather['temperature'].mean())/taxi_with_weather['temperature'].std(),3)
taxi_with_weather['wind_speed'] = round((taxi_with_weather['wind_speed']-taxi_with_weather['wind_speed'].mean())/taxi_with_weather['wind_speed'].std(),2)
taxi_with_weather['humidity'] = round((taxi_with_weather['humidity']-taxi_with_weather['humidity'].mean())/taxi_with_weather['humidity'].std(),3)

taxi_with_weather['dayofyear'] = round((taxi_with_weather['dayofyear']-182.5)/182.5,3)
taxi_with_weather['hour'] = round((taxi_with_weather['hour']-11.5)/11.5,2)
# considering transformation before, a total of 41.8 has been subtracted from lat
# a total of 87.7 has been subtracted from lon, both are then scaled to 10 times
taxi_with_weather['lat'] = (taxi_with_weather['lat'] - 0.8)*10
taxi_with_weather['lon'] = (taxi_with_weather['lon'] - 0.7)*10
taxi_with_weather.drop(columns=['datetime'], inplace = True)

taxi_with_weather.to_csv("download/13taxi_with_weather_std.csv", index = False)

temp_mean 283.08995
wind_speed_mean 3.06644
humidity_mean 73.79101
temp_std 11.21053
wind_speed_std 2.23865
humidity_std 17.40206

In [74]:
temp_mean = 283.08995
wind_speed_mean = 3.06644
humidity_mean = 73.79101
temp_std = 11.21053
wind_speed_std = 2.23865
humidity_std = 17.40206

In [82]:
# standardization
taxi_with_weather = pd.read_csv('download/17taxi_with_weather.csv')
#taxi_with_weather["dayofyear_sin"] = taxi_with_weather["dayofyear"].map(lambda x: round(math.sin(float(x)/365*2*math.pi),3));
#taxi_with_weather["dayofyear_cos"] = taxi_with_weather["dayofyear"].map(lambda x: round(math.cos(float(x)/365*2*math.pi),3));

taxi_with_weather["hour_sin"] = taxi_with_weather["hour"].map(lambda x: round(math.sin(float(x)/24*2*math.pi),2));
taxi_with_weather["hour_cos"] = taxi_with_weather["hour"].map(lambda x: round(math.cos(float(x)/24*2*math.pi),2));
taxi_with_weather['temperature'] = round((taxi_with_weather['temperature']-temp_mean)/temp_std,3)
taxi_with_weather['wind_speed'] = round((taxi_with_weather['wind_speed']-wind_speed_mean)/wind_speed_std,2)
taxi_with_weather['humidity'] = round((taxi_with_weather['humidity']-humidity_mean)/humidity_std,3)

taxi_with_weather['dayofyear'] = round((taxi_with_weather['dayofyear']-182.5)/182.5,3)
taxi_with_weather['hour'] = round((taxi_with_weather['hour']-11.5)/11.5,2)
# considering transformation before, a total of 41.8 has been subtracted from lat
# a total of 87.7 has been subtracted from lon, both are then scaled to 10 times
taxi_with_weather['lat'] = (taxi_with_weather['lat'] - 0.8)*10
taxi_with_weather['lon'] = (taxi_with_weather['lon'] - 0.7)*10
taxi_with_weather.drop(columns=['datetime'], inplace = True)

taxi_with_weather.to_csv("download/17taxi_with_weather_std.csv", index = False)

In [62]:
taxi_with_weather.describe()

,Pickup Community Area,Count,dayofyear,dayofyear_sin,dayofyear_cos,hour,hour_sin,hour_cos,weekday,lat,lon,temperature,wind_speed,humidity
count,674520.000000,674520.000000,674520.000000,674520.000000,674520.000000,674520.000000,674520.000000,674520.000000,674520.000000,674520.000000,674520.000000,674520.000000,674520.000000,674520.000000
mean,39.000000,32.948928,0.002697,-0.000104,0.000093,-0.000019,-0.000057,0.000015,2.994064,0.395649,-0.254494,0.000008,-0.000261,0.000010
std,22.226127,141.235088,0.577417,0.707050,0.707199,0.602207,0.709382,0.709421,1.999764,0.977735,0.687891,1.000001,0.999732,1.000002
min,1.000000,0.000000,-0.995000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000,-1.400000,-1.500000,-2.485000,-1.370000,-3.263000
25%,20.000000,0.000000,-0.496000,-0.706000,-0.709000,-0.502500,-0.710000,-0.710000,1.000000,-0.400000,-0.800000,-0.815000,-0.920000,-0.678000
50%,39.000000,0.000000,0.003000,-0.000000,0.004000,0.000000,0.000000,0.000000,3.000000,0.300000,-0.300000,0.037500,-0.030000,0.127000
75%,58.000000,5.000000,0.501000,0.706000,0.703000,0.502500,0.710000,0.710000,5.000000,1.300000,0.100000,0.846000,0.420000,0.874000
max,77.000000,3179.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,6.000000,2.100000,2.200000,2.265000,6.670000,1.506000

In [84]:
# download
import shutil
shutil.make_archive('dataset_3_30', 'zip', 'download')

'/Users/weiyudu/Projects/cis520_proj/dataset_3_30.zip'

In [83]:
taxi_with_weather.describe()

,Pickup Community Area,Count,dayofyear,dayofyear_sin,dayofyear_cos,hour,hour_sin,hour_cos,weekday,lat,lon,temperature,wind_speed,humidity
count,391776.000000,391776.000000,391776.000000,391776.000000,391776.000000,391776.000000,391776.000000,391776.000000,391776.000000,391776.000000,391776.000000,391776.000000,391776.000000,391776.000000
mean,39.000000,18.033348,-0.416290,0.512014,-0.137883,-0.000033,-0.000098,0.000026,2.999017,0.395649,-0.254494,0.102877,0.489408,-0.167874
std,22.226139,89.095848,0.335429,0.424365,0.734028,0.602228,0.709367,0.709436,2.011516,0.977736,0.687891,0.945596,1.043954,1.193876
min,1.000000,0.000000,-0.995000,-0.501000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000,-1.400000,-1.500000,-2.459000,-1.370000,-3.378000
25%,20.000000,0.000000,-0.705500,0.197000,-0.898000,-0.502500,-0.710000,-0.710000,1.000000,-0.400000,-0.800000,-0.599000,-0.480000,-0.965000
50%,39.000000,0.000000,-0.414000,0.608000,-0.268000,0.000000,0.000000,0.000000,3.000000,0.300000,-0.300000,0.050000,0.420000,-0.045000
75%,58.000000,2.000000,-0.123000,0.896000,0.601500,0.502500,0.710000,0.710000,5.000000,1.300000,0.100000,0.941000,1.310000,0.759000
max,77.000000,1818.000000,0.167000,1.000000,1.000000,1.000000,1.000000,1.000000,6.000000,2.100000,2.200000,2.196000,5.330000,1.506000

In [72]:
df = pd.read_csv('download/13taxi_with_weather_std.csv')
df.describe()

,Pickup Community Area,Count,dayofyear,dayofyear_sin,dayofyear_cos,hour,hour_sin,hour_cos,weekday,lat,lon,temperature,wind_speed,humidity
count,674520.000000,674520.000000,674520.000000,674520.000000,674520.000000,674520.000000,674520.000000,674520.000000,674520.000000,674520.000000,674520.000000,674520.000000,674520.000000,674520.000000
mean,39.000000,32.948928,0.002697,-0.000104,0.000093,-0.000019,-0.000057,0.000015,2.994064,0.395649,-0.254494,0.000008,-0.000261,0.000010
std,22.226127,141.235088,0.577417,0.707050,0.707199,0.602207,0.709382,0.709421,1.999764,0.977735,0.687891,1.000001,0.999732,1.000002
min,1.000000,0.000000,-0.995000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000,-1.400000,-1.500000,-2.485000,-1.370000,-3.263000
25%,20.000000,0.000000,-0.496000,-0.706000,-0.709000,-0.502500,-0.710000,-0.710000,1.000000,-0.400000,-0.800000,-0.815000,-0.920000,-0.678000
50%,39.000000,0.000000,0.003000,-0.000000,0.004000,0.000000,0.000000,0.000000,3.000000,0.300000,-0.300000,0.037500,-0.030000,0.127000
75%,58.000000,5.000000,0.501000,0.706000,0.703000,0.502500,0.710000,0.710000,5.000000,1.300000,0.100000,0.846000,0.420000,0.874000
max,77.000000,3179.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,6.000000,2.100000,2.200000,2.265000,6.670000,1.506000